.App {
  text-align: center;
}
.App * {
  margin: auto;
  /* width: 500px; */
}
.inc-exp-container {
  display: flex;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px black;
  width: 300px;
  justify-content: space-around;
  height: 80px;
}
.list {
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
}
.list * {
  margin: 7px 0px;
}
.plus {
  background-color: white;
  /* border-radius: 3px; */
  box-shadow: 0px 0px 1px 0px black;
  display: flex;
  justify-content: space-around;
  border-right: 3px green solid;
  padding: 5px 0px;
  align-items: center;
}

.minus {
  background-color: white;
  /* border-radius: 3px; */
  box-shadow: 0px 0px 1px 0px black;
  display: flex;
  justify-content: space-around;
  border-right: 3px red solid;
  padding: 5px 0px;
  align-items: center;
}
.plus:hover {
  background-color: green;
  color: white;
  transition: 0.3s;
}
.minus:hover {
  background-color: red;
  color: white;
  transition: 0.3s;
}
.del-btn {
  /* display: none; */
  background-color: white;
  border: none;
}
.form-control * {
  width: 300px;
  padding: 5px 0px;
  margin: 10px 0px;
}
.form-control > label {
  text-align: left;
  font-weight: bold;
  float: left;
}

.add-tran-btn {
  width: 300px;
  padding: 10px 0;
  background-color: #5454d6;
  color: white;
  border: none;
}
