body {
  margin: auto;
  text-align: center;
  width: 300px;
  background-color: #f7f7f7;
  font-family: "Roboto", sans-serif;
}
h1,
h3,
h4,
label {
  font-weight: 400 !important;
}

.container * {
  margin: auto;
}
.balance {
  text-align: left;
}

.inc-exp-container {
  display: flex;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 0px black;
  width: 300px;
  height: 80px;
}
.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}
.inc-exp-container > div {
  width: 50%;
}
.list {
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
}
.list * {
  margin: 7px 0px;
  position: relative;
}
.plus {
  background-color: white;
  /* border-radius: 3px; */
  box-shadow: 0px 0px 1px 0px black;
  display: flex;
  justify-content: space-between;
  border-right: 5px green solid;
  padding: 10px;
  align-items: center;
}

.minus {
  background-color: white;
  /* border-radius: 3px; */
  box-shadow: 0px 0px 1px 0px black;
  display: flex;
  justify-content: space-between;
  border-right: 5px red solid;
  padding: 10px;
  align-items: center;
}
/* .plus:hover {
  background-color: green;
  color: white;
  transition: 0.3s;
} */
.plus:hover > button {
  opacity: 1;
}
.minus:hover > button {
  opacity: 1;
}
/* .minus:hover {
  background-color: red;
  color: white;
  transition: 0.3s;
} */
.del-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  left: 0;
  top: 38%;
  opacity: 0;
  transition: 0.3s ease;
  transform: translate(-100%, -50%);
}
.form-control * {
  width: 300px;
  /* padding: 5px 0px; */
  margin: 10px 0px;
}
.form-control > label {
  text-align: left;
  font-weight: bold;
  float: left;
}
.form-control > input {
  text-indent: 7px;
  padding: 10px 0;
  width: -webkit-fill-available;
}
.add-tran-btn {
  width: 300px;
  padding: 10px 0;
  background-color: #5454d6;
  color: white;
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 320px) {
  body,
  .container {
    width: 300px;
  }
}
